body {
  font-family: sans-serif;
}

.intro {
  display: flex;
  color: whitesmoke;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(img/adult.jpg);
  background-size: cover;
}

h1 {
  position: relative;
  top: 20%;
  left: 5%;
}

.typing {
  position: relative;
  margin-left: 10px;
}

.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  right: -5px;
  height: 5%;
  border-right: 2px solid whitesmoke;
  animation: blink 0.9s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
